@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F8F8F8;
}

.button-landing {
    background-color: #1C4D79;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 14px;
    padding: 13px 73px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    /*transition: background-color .5s ease-in-out;*/
}

.button-landing:hover {
    background-color: #2E6FAB;
    cursor: pointer;
}

.button-landing:active {
    background-color: #1C4D79;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .25);
}

.button-landing:focus {
    outline: none;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 98px;
    padding-right: 98px;
    height: 70px;
    /*background-color: rgba(0, 0, 0, .05);*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all ease-in-out .2s;
    z-index: 10;
}

.header-button-hide {
    display: none;
}

.header-scroll {
    /*background-color: #E4EAF0;*/
    background-color: #f5f5f5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#content {
    margin: 0 98px 0 98px;
    height: 100vh;
}

#page-1 {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info-text>div {
    display: flex;
    align-items: center;
}

#info-text>div>p {
    width: 562px;
    font-size: 36px;
    color: #484848;
}

#info-text>button {
    font-size: 18px;
    padding: 13px 80px;
    margin-left: 30px;
    margin-top: 20px;
}

#rectangle {
    background-color: #2E6FAB;
    width: 10px;
    height: 150px;
    margin-right: 20px;
    font-weight: normal;
}

#page-2 {
    margin-top: 70px;
}

#page-2>h1 {
    font-weight: normal;
    font-size: 36px;
    color: #262626;
    text-align: center;
}

#page-2>p {
    font-size: 18px;
    color: #484848;
    text-align: center;
}

#page-2>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#char {
    width: 750px;
    height: 350px;
    /*border: 1px solid black;*/
    background-image: url('https://lh3.googleusercontent.com/proxy/r6tngpspyif8sAp57A_AhRxKQO-r2D877LKhRbEgA8uG3tBcip3fzwcDJvvRx7N3Vpk6snD8rgwosw0V_GYsODCC5sZrOTFpzR-iqKZU-xbj19WNlpnZScAImGMAuJRVEygfIFYeDw');
    background-repeat: false;
}

#data {
    width: 277px;
    height: 330px;
    border-radius: 30px;
    border: 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#data>h2 {
    font-size: 24px;
    color: #262626;
    font-weight: bold;
    margin-bottom: 10px;
}

#data>h6 {
    font-size: 14px;
    color: #262626;
    font-weight: normal;
}

#data>h1 {
    font-size: 36px;
    color: #1C4D79;
    font-weight: 500;
    margin-bottom: 10px;
}

#page-3 {
    margin-top: 90px;
    margin-bottom: 30px;
}

#page-3>h1 {
    font-size: 36px;
    color: 262626;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0 20px 0;
}

.miembro-card {
    display: inline-block;
    text-align: center;
}

.miembro-photo {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    /*border: 1px solid black;*/
}

.miembro-card>h2 {
    font-size: 24px;
    font-weight: bold;
}

.miembro-card>p {
    font-size: 14px;
    color: #484848;
}

.miembro-rol {
    margin-top: 10px;
    font-size: 18px;
    color: #484848;
    font-weight: normal;
}